{% extends "base.html" %} {% block content %}
  <link rel="stylesheet" href="index.css" />
    <title>Chatty</title>

</head>
<body>

    <div class="chatContainer">
        <style>
            .chatContainer{
                padding: 10px 0px 10px 0px;
            }
            .chatContainer, .registerFormContaier, form{
                height: auto;
               
            }
        
            input[type="checkbox"]{
                width: 20px !important;
                height: 20px;
            }
            {% comment %} label{
                display: none;
            } {% endcomment %}
        </style>
        
        <div class="registerFormContaier">
        
            <div class="registerForm">
                <a href=""><h1>Chatty</h1></a>
                <p>Update your profile.</p>
                <form action="" method='POST' enctype="multipart/form-data">
                    <input type="text" name="Username" placeholder="Enter Username">
                    <small></small>
                    <input type="text" name="Firstname" placeholder="Enter Firstname">
                    <small></small>
                    <input type="text" name="Lastname" placeholder="Enter Lastname">
                    <small></small>
                    <input type="password" name="Password" placeholder="Enter Password">
                    <small></small>
                    <input type="password" name="Password" placeholder="Confirm Password">
                    <small></small>
                    <button>Submit</button>
                    <span><a href="">Login</a> if you have an account.</span>
                </form>
            </div>
        
         
        </div>

    </div>
    
    {% endblock %}